{% extends "base.html" %}
{% block content %}
<div class="container-lg mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    <h1 class="card-title display-5 text-center mb-0">Анализатор страниц</h1>
                </div>
                <div class="card-body p-4">
                    <p class="card-text text-center text-secondary mb-4">
                        Бесплатно проверяйте сайты на SEO-пригодность
                    </p>
                    <form action="/urls" method="post" class="needs-validation">
                        <div class="input-group">
                            <input type="text" name="url" placeholder="https://www.example.com"
                                class="form-control form-control-lg border-primary" required>
                            <input type="submit" value="Проверить"
                                class="btn btn-primary btn-lg px-4">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}